@page "{searchString?}"
@model IndexModel
@addTagHelper *, CoreRazorPages.ComponentBasedUi

<h1>Users</h1>
@if(Model.ShowMessage){
    <h2 > 
        @Model.Message
    </h2>
}
<vc:search>
</vc:search>

<!-- @await Component.InvokeAsync("Search") -->
<vc:user-list 
    edit-route="Edit" 
    delete-route="Delete" 
    search-string="@Model.SearchString">
</vc:user-list>

<add-button add-route="/Users/Add">
    Add User
</add-button>

